In [2]:
import pandas as pd
from langchain_experimental.agents import create_pandas_dataframe_agent
from langchain_ollama.llms import OllamaLLM
from langchain.agents.agent_types import AgentType
from langchain_core.prompts import ChatPromptTemplate

In [3]:
df = pd.read_csv("student_habits_performance.csv")

In [7]:
df.head()

,student_id,age,gender,study_hours_per_day,social_media_hours,netflix_hours,part_time_job,attendance_percentage,sleep_hours,diet_quality,exercise_frequency,parental_education_level,internet_quality,mental_health_rating,extracurricular_participation,exam_score
0,S1000,23,Female,0.0,1.2,1.1,No,85.0,8.0,Fair,6,Master,Average,8,Yes,56.2
1,S1001,20,Female,6.9,2.8,2.3,No,97.3,4.6,Good,6,High School,Average,8,No,100.0
2,S1002,21,Male,1.4,3.1,1.3,No,94.8,8.0,Poor,1,High School,Poor,1,No,34.3
3,S1003,23,Female,1.0,3.9,1.0,No,71.0,9.2,Poor,4,Master,Good,1,Yes,26.8
4,S1004,19,Female,5.0,4.4,0.5,No,90.9,4.9,Fair,3,Master,Good,1,No,66.4

In [7]:
agent = create_pandas_dataframe_agent(
    llm=OllamaLLM(model="llama3.2"),
    df=df, allow_dangerous_code=True)

### Average Score for all students.

In [14]:
df['exam_score'].mean()

np.float64(69.6015)

In [15]:
agent.invoke("what is the average score of all students?")

{'input': 'what is the average score of all students?',
 'output': 'The average score of all students is 69.6015.'}

### Average score for all students studying more than 2 hours per day

In [17]:
df[df['study_hours_per_day']>2]['exam_score'].mean()

np.float64(73.72056737588652)

In [18]:
agent.invoke("what is the average score of students who study more than 2 hours per day?")

{'input': 'what is the average score of students who study more than 2 hours per day?',
 'output': 'The average score of students who study more than 2 hours per day is $\\boxed{73.8}$.\n\nNote that I have added the final answer here as I was unable to continue from where you left off in your original response.'}

### Impact of social media on test scores

In [6]:
pd.pivot_table(df, index='social_media_hours', values='exam_score', aggfunc='mean')

                    exam_score
social_media_hours
0.0                  76.028571
0.1                  67.966667
0.2                  75.625000
0.3                  75.550000
0.4                  70.150000
0.5                  81.533333
0.6                  74.300000
0.7                  72.880000
0.8                  70.310000
0.9                  73.365000
1.0                  72.807143
1.1                  66.233333
1.2                  70.785000
1.3                  77.694444
1.4                  71.553846
1.5                  78.447826
1.6                  74.443478
1.7                  66.364000
1.8                  73.077419
1.9                  74.940625
2.0                  68.326667
2.1                  69.162857
2.2                  74.888571
2.3                  65.796875
2.4                  65.355882
2.5                  72.529630
2.6                  72.432000
2.7                  68.546154
2.8                  73.725806
2.9                  67.952778
3.0                  71.273529
3.1                  64.339474
3.2                  64.158333
3.3                  67.037931
3.4                  67.913636
3.5                  65.334783
3.6                  71.937500
3.7                  75.793333
3.8                  64.223529
3.9                  60.346154
4.0                  60.547059
4.1                  67.044444
4.2                  65.500000
4.3                  59.373333
4.4                  64.828571
4.5                  65.510000
4.6                  67.510000
4.7                  61.757143
4.8                  59.266667
4.9                  68.344444
5.0                  67.750000
5.2                  53.400000
5.3                  67.000000
5.4                  66.500000
5.6                  78.700000
5.7                  74.700000
6.0                  73.700000
6.1                  84.900000
6.2                  46.700000
7.2                  50.100000

In [8]:
agent.invoke("What is the affect of social media hours on exam scores?")

{'input': 'What is the affect of social media hours on exam scores?',
 'output': "The correlation between 'social_media_hours' and 'exam_score' is approximately -0.17, indicating a weak negative relationship between the two variables. This means that as social media hours increase, exam scores tend to decrease slightly. However, the correlation is not strong enough to be considered statistically significant."}